PresentationLayer/Connected Services/AuthorizationService/AuthorizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorizationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/authservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/authservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/authservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" />
      <xsd:import schemaLocation="http://localhost/authservice?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorizationContract_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationContract_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationContract_CheckEmailIsExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmailIsExist" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationContract_CheckEmailIsExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmailIsExistResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationContract_CheckIsPasswordMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIsPasswordMatch" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationContract_CheckIsPasswordMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIsPasswordMatchResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthorizationContract">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationContract/Login" message="tns:IAuthorizationContract_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationContract/LoginResponse" message="tns:IAuthorizationContract_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmailIsExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationContract/CheckEmailIsExist" message="tns:IAuthorizationContract_CheckEmailIsExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationContract/CheckEmailIsExistResponse" message="tns:IAuthorizationContract_CheckEmailIsExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIsPasswordMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationContract/CheckIsPasswordMatch" message="tns:IAuthorizationContract_CheckIsPasswordMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationContract/CheckIsPasswordMatchResponse" message="tns:IAuthorizationContract_CheckIsPasswordMatch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Authorization" type="tns:IAuthorizationContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationContract/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmailIsExist">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationContract/CheckEmailIsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIsPasswordMatch">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationContract/CheckIsPasswordMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorizationService">
    <wsdl:port name="Authorization" binding="tns:Authorization">
      <soap:address location="http://localhost/authservice/authorization" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>