PresentationLayer/Connected Services/BoardService/BoardsMgmtService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BoardsMgmtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/boardservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/boardservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/boardservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" />
      <xsd:import schemaLocation="http://localhost/boardservice?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="http://localhost/boardservice?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBoardMgmtContract_AddBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBoard" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_AddBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_FindBoardById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindBoardById" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_FindBoardById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindBoardByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_GetAllBoards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBoards" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_GetAllBoards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBoardsResponse" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_GetBoards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBoards" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_GetBoards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBoardsResponse" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_RemoveBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBoard" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_RemoveBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_UpdateBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBoard" />
  </wsdl:message>
  <wsdl:message name="IBoardMgmtContract_UpdateBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBoardResponse" />
  </wsdl:message>
  <wsdl:portType name="IBoardMgmtContract">
    <wsdl:operation name="AddBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardMgmtContract/AddBoard" message="tns:IBoardMgmtContract_AddBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardMgmtContract/AddBoardResponse" message="tns:IBoardMgmtContract_AddBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindBoardById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardMgmtContract/FindBoardById" message="tns:IBoardMgmtContract_FindBoardById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardMgmtContract/FindBoardByIdResponse" message="tns:IBoardMgmtContract_FindBoardById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBoards">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardMgmtContract/GetAllBoards" message="tns:IBoardMgmtContract_GetAllBoards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardMgmtContract/GetAllBoardsResponse" message="tns:IBoardMgmtContract_GetAllBoards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBoards">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardMgmtContract/GetBoards" message="tns:IBoardMgmtContract_GetBoards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardMgmtContract/GetBoardsResponse" message="tns:IBoardMgmtContract_GetBoards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardMgmtContract/RemoveBoard" message="tns:IBoardMgmtContract_RemoveBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardMgmtContract/RemoveBoardResponse" message="tns:IBoardMgmtContract_RemoveBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardMgmtContract/UpdateBoard" message="tns:IBoardMgmtContract_UpdateBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardMgmtContract/UpdateBoardResponse" message="tns:IBoardMgmtContract_UpdateBoard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Board" type="tns:IBoardMgmtContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBoard">
      <soap:operation soapAction="http://tempuri.org/IBoardMgmtContract/AddBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBoardById">
      <soap:operation soapAction="http://tempuri.org/IBoardMgmtContract/FindBoardById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBoards">
      <soap:operation soapAction="http://tempuri.org/IBoardMgmtContract/GetAllBoards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoards">
      <soap:operation soapAction="http://tempuri.org/IBoardMgmtContract/GetBoards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBoard">
      <soap:operation soapAction="http://tempuri.org/IBoardMgmtContract/RemoveBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBoard">
      <soap:operation soapAction="http://tempuri.org/IBoardMgmtContract/UpdateBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BoardsMgmtService">
    <wsdl:port name="Board" binding="tns:Board">
      <soap:address location="http://localhost/boardservice/board" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>