PresentationLayer/Connected Services/ListService/ListsMgmtService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ListsMgmtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost/listservice?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/listservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/listservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/listservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" />
      <xsd:import schemaLocation="http://localhost/listservice?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="http://localhost/listservice?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IListMgmtContract_AddList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddList" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_AddList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddListResponse" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_FindListById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindListById" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_FindListById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindListByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_GetAllLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLists" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_GetAllLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListsResponse" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_GetLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLists" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_GetLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListsResponse" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_RemoveList_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveList" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_RemoveList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveListResponse" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_UpdateList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateList" />
  </wsdl:message>
  <wsdl:message name="IListMgmtContract_UpdateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateListResponse" />
  </wsdl:message>
  <wsdl:portType name="IListMgmtContract">
    <wsdl:operation name="AddList">
      <wsdl:input wsaw:Action="http://tempuri.org/IListMgmtContract/AddList" message="tns:IListMgmtContract_AddList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListMgmtContract/AddListResponse" message="tns:IListMgmtContract_AddList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindListById">
      <wsdl:input wsaw:Action="http://tempuri.org/IListMgmtContract/FindListById" message="tns:IListMgmtContract_FindListById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListMgmtContract/FindListByIdResponse" message="tns:IListMgmtContract_FindListById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IListMgmtContract/GetAllLists" message="tns:IListMgmtContract_GetAllLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListMgmtContract/GetAllListsResponse" message="tns:IListMgmtContract_GetAllLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IListMgmtContract/GetLists" message="tns:IListMgmtContract_GetLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListMgmtContract/GetListsResponse" message="tns:IListMgmtContract_GetLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveList">
      <wsdl:input wsaw:Action="http://tempuri.org/IListMgmtContract/RemoveList" message="tns:IListMgmtContract_RemoveList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListMgmtContract/RemoveListResponse" message="tns:IListMgmtContract_RemoveList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IListMgmtContract/UpdateList" message="tns:IListMgmtContract_UpdateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListMgmtContract/UpdateListResponse" message="tns:IListMgmtContract_UpdateList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="list" type="tns:IListMgmtContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddList">
      <soap:operation soapAction="http://tempuri.org/IListMgmtContract/AddList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindListById">
      <soap:operation soapAction="http://tempuri.org/IListMgmtContract/FindListById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLists">
      <soap:operation soapAction="http://tempuri.org/IListMgmtContract/GetAllLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLists">
      <soap:operation soapAction="http://tempuri.org/IListMgmtContract/GetLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveList">
      <soap:operation soapAction="http://tempuri.org/IListMgmtContract/RemoveList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <soap:operation soapAction="http://tempuri.org/IListMgmtContract/UpdateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListsMgmtService">
    <wsdl:port name="mex" binding="i0:mex">
      <soap12:address location="http://localhost/listservice/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/listservice/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="list" binding="tns:list">
      <soap:address location="http://localhost/listservice/list" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>